body{
    background-color: rgb(0, 0, 0);
}




#lightbox {
  transition: opacity 3.0s ease;
}

.video-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;    /* PC: cubrir área */
  object-position: center; /* PC: alinear top */
  z-index: -1;
}
